@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
    font-family: 'Inter', sans-serif !important;
}

.percent-change-positive {
    color: #137333;
    border-radius: 8px;
    background-color: #e6f4ea;
    padding: 6px;}

.percent-change-negative {
    color: #a50e0e;
    border-radius: 8px;
    background-color: #fce8e6;
    padding: 6px;
}

.change-positive {
    color: #137333;
}

.change-negative {
    color: #a50e0e;
}

.MuiSvgIcon-root {
    font-size: 1.2em!important;
}

.price-increase {
    color: #137333 !important;
    background-color: #e6f4ea;
}

.price-decrease {
    color: #a50e0e !important;
    background-color: #fce8e6;
}

.price-animation {
    transition: all 750ms ease-out;
    background-color: transparent;
}

.modal-xl {
    max-width: 1400px !important;
}